.container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.search {
  max-width: 400px;
  margin-bottom: 16px;
}

.formItem {
  margin-bottom: 8px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.paginationCounter {
  padding: 0 8px;
  display: flex;
  align-items: center;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-left: none;
}